{% extends 'layout.html' %}
{% block body %}
<div class="row">
<h3 class='text-center text-muted mb-3'></h3>
<p class="text-right"><a href="{{url_for('add_user')}}" class="btn btn-success">+Novo Cadastro</a></p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Regional</th>
        <th scope="col">Cidade</th>
        <th scope="col">Local</th>
        <th scope="col">Dispositivo</th>
        <th scope="col">ServiceTag</th>
        <th scope="col">Usuario</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
        {% for row in datas %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{row.REGIONAL}}</td>
        <td>{{row.CIDADE}}</td>
        <td>{{row.LOCAL}}</td>
        <td>{{row.DEVICE}}</td>
        <td>{{row.TAG}}</td>
        <td>{{row.USER}}</td>
        <td>{{row.EMAIL}}</td>
        <td><a href="{{url_for('edit_user',id=row.ID)}}" class="btn btn-primary">Editar</a></td>
        <td><a href="{{url_for('delete_user',id=row.ID)}}" class="btn btn-danger" onclick="return confirm ('Tem certeza que deseja apagar?')">Deletar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}